
.feedback{
    padding-top: 6.25vw;
    padding-bottom: 12.5vw;
    margin-left: auto;
    margin-right: auto;

}

.feedback_text{
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.feedback_text_head{
    font-weight: 500;
    font-size: 2.1875vw;
    line-height: 3.125vw;
    
}

.feedback_text_small{
    line-height: 1.875vw;
    color: #4F5665;
}

.reviews {
    display: flex;
    justify-content: space-between;
    
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blocks {
    width: 21.875vw;
    height: 14.375vw;
    border: 0.125vw solid #DDDDDD;
    border-style: solid;
    border-radius: 0.625vw;
    position: relative;
}

.blocks_head{
    display: flex;
    justify-content: center;
}

.blocks_head img{
    width: 3.125vw;
}

.blocks_name{
    padding-left: 1.25vw;
    padding-right: 3.125vw;
    text-align: left;
}

.blocks_name_main{
    font-weight: 500;
    font-size: 1.125vw;
    color: #0B132A;
}

.blocks_name_city{
    color: #4F5665;
    font-size: 0.875vw;
}


.blocks_rating {
    display: flex;
    justify-content: center;

    padding-top: 1vw;
}

.blocks_rating div {
    padding: 0.5vw;
}

.blocks_rating img {
    padding-bottom: 1.25vw;
}

.blocks_text{
    position: absolute;
    top: 40%;
    width: 18.75vw;
    height: 6.25vw;

    font-size: 1vw;
    text-align: left;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    line-height: 1.875vw;
    color: #0B132A;
}