
header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}


.head {
    display: flex;
    justify-content: space-between;
    
}

.head_logo{
    width: 9.3125vw;
    height: 2.375vw;
    padding-top: 0.4375vw;
}


.menu ul {
    width: 27.5vw;
    display: flex;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.menu li {
    font-size: 1vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
}
.menu a{
    color: #4F5665;
    text-decoration: none;
}

.registration {
    position: relative;
    width: 20vw;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    float: right;
    
}


.sign_in {
    background-color: #fff;
    border: #fff;
    margin-right: 0.9375vw;
    font-size: 1vw;
    font-family: "Rubik";
    font-weight: 500;
}

.sign_up {
    background-color: #fff;
    margin-left: 0.9375vw;
    font-size: 1vw;
    font-family: "Rubik";
    font-weight: 500;

    border: 0.0625vw solid #F53855;
    border-radius: 3.125vw;

    color: #F53855;

    padding: 0.8125vw 2.8125vw 0.8125vw 2.8125vw;
}
