.hero {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
    display: flex;
    justify-content: space-between;

}

.hero img{
    width: 38.25vw;
}

.hero_text{
    width: 50%;
}

.hero_head_text{
    color: #0B132A;
    font-weight: 500;
    font-size: 3.125vw;
    line-height: 4.375vw;
}

.hero_small_text{
    padding-top: 1.25vw;
    padding-bottom: 3.125vw;
    line-height: 1.875vw;
    color: #4F5665;
    font-size: 1vw;
}

.hero_button {
    background-color: #F53838;
    border: 0;
    width: 15.625vw;
    height: 3.75vw;


    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5625vw;
    color: #fff;

    border-radius: 0.625vw;
}
