.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

.hero_text{
    width: 500px;
    height: 200px;
}

.hero_head_text{
    color: #0B132A;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.hero_small_text{
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 30px;
    color: #4F5665;
}

.hero_button {
    background-color: #F53838;
    border: 0;
    width: 250px;
    height: 60px;
    
    font-weight: 700;
    line-height: 25px;
    color: #fff;

    border-radius: 10px;
}
