.medium{
    display: flex;
    justify-content: space-between;

    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
}

.medium img{
    width: 31.9375vw;
}

.medium_text{
    width: 31.25vw;
}

.medium_head_text{
    padding-bottom: 1.25vw;
    color: #0B132A;
    font-weight: 500;
    font-size: 2.1875vw;
    line-height: 3.125vw;  
}

.medium_small_text{
    line-height: 1.875vw;
    font-size: 1vw;
    color: #4F5665;
    
}

.medium_feature {
    padding-top: 0.9375vw;
    font-size: 0.875vw;
    line-height: 1.875vw;
    color: #4F5665;
    
}

.medium_feature li{
    display: flex;
    justify-content: start;
    padding-bottom: 0.9375vw;
}

.medium_feature div{
    padding-left: 0.625vw;
}

.medium_feature img{
    width: 1.5625vw;
}
