.medium{
    display: flex;
    justify-content: space-between;

    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
    padding-top: 100px;
    padding-bottom: 150px;
}


.medium_text{
    width: 500px;
}

.medium_head_text{
    padding-bottom: 20px;
    color: #0B132A;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;  
}

.medium_small_text{
    line-height: 30px;
    color: #4F5665;
    
}

.medium_feature {
    padding-top: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    
}

.medium_feature li{
    display: flex;
    justify-content: start;
    padding-bottom: 15px;
}

.medium_feature div{
    padding-left: 10px;
}
